@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">

	<link rel="stylesheet" href="~/css/AboutStyles.css" asp-append-version="true" /> <!-- Include the stylesheet for this page-->
</head>


<main>

	@section AboutUs {
		<h3 class="header">About Us</h3>
		<div class="beverage-images">

			<img src="@Url.Content("~/Images/About/storypicture2.webp")" alt="Drinks">
		</div>
	}


	<div class="container body-content">

		<section class="mission section-headers">
			<img src="@Url.Content("~/Images/About/storypicture3.png")" alt="Mission Photo">
			<div class="mission-text-container">
				<h3>OUR MISSION</h3>
				<p class="">At Sobee You, our mission is simple: to provide tasty, non-alcoholic beverage options that everyone can enjoy. 
					Whether you’re looking to unwind without the alcohol, need a refreshing drink for a social event, or just want something
					delicious to sip on, we’ve got you covered. We pride ourselves on creating beverages that are both enjoyable and inclusive,
					making every moment special without the need for alcohol. Join us in celebrating life’s everyday moments—soberly, joyfully, with Sobee You.</p>
			</div>
		</section>

		<section class="features">
			<div class="feature">

				<img src="@Url.Content("~/Images/About/svgs/egg.svg")" alt="No artificial colors/flavors">
				<span>NO ARTIFICIAL COLORS/FLAVORS</span>
			</div>
			<div class="feature">

				<img src="@Url.Content("~/Images/About/svgs/liquor.svg")" alt="Pure extract">
				<span>PURE EXTRACT</span>
			</div>
			<div class="feature">

				<img src="@Url.Content("~/Images/About/svgs/star.svg")" alt="Ready to sip">
				<span>READY TO SIP</span>
			</div>
			<div class="feature">
				<img src="@Url.Content("~/Images/About/svgs/no_drinks.svg")" alt="Alcohol free">
				<span>ALCOHOL FREE</span>
			</div>
		</section>

		<section class="founders-letter section-headers">
			<div class="founders-image">

				<img src="@Url.Content("~/Images/About/erin_paige.jpg")" alt="Founders">
			</div>


			<div class="letter-content">
				<h3>Letter from the Founders</h3>
				<p>Hello there!</p>
				<p>Welcome to SoBee You, we're thrilled to introduce ourselves as the brains behind this exciting new beverage line Paige and Erin, two passionate individuals with diverse backgrounds and a shared vision, we set out to redefine the concept of happy hour with our uncompined expertise and enthusiasm, we embarked on a mission to create something truly remarkable - a beverage that captures the essence of joy without the need for alcohol.</p>
				<p>Whether you're unwinding after a long day or celebrating a special occasion, our beverages are here to accompany you on your journey. So join us, as we raise a glass to joy, connection, and the endless possibilities that lie ahead. Here's to embracing life's moments with gusto and saying "Cheers!" to all that SoBee You has to offer.</p>
				<p>Cheers, Paige & Erin</p>
			</div>
		</section>

	</div>
</main>