@{
    ViewBag.Title = "About";
}

<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
</head>

<style>

	.header {
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1; /* Ensure the header appears above the image */
		color: black; /* For visibility */
		text-align: center;
		font-size: 64px; /* Adjust font size as needed */
	}



	.beverage-images {

		display: flex;
		justify-content: center;
		margin-bottom: 20px;
		width: 100%;
		height: calc(100vh - 56px); /* Adjust for navbar height */
	}

		.beverage-images img {
			width: 100%;
			height: 100vh;
			margin: 0 0px;
			object-fit: cover;
		}

	.mission {
		height: 100%;
		text-align: center;
		font-family: font-size: 18px;
		max-width: 600px;
		margin: 0 auto;
		padding-top: 206px; /* navbar height adjustment*/
	}

	.section-headers h3 {
		border-bottom: solid black 2px;
		font-weight: 700;
	}



	.features {
		display: flex;

		justify-content: space-around;
		

	}

	.feature {
		display: flex;

		flex-direction: column;
		align-items: center;
		font-weight: 700;
		font-size:24px;
	}

		.feature img {
			width: 75px;
			height: 75px;
			margin-bottom: 10px;
		}

	.founders-letter {

		display:flex;
	}

		.founders-letter h2 {
			font-size: 24px;
			margin-bottom: 20px;
		}

	.founders-image img {
		margin-bottom: 20px;
		width: 450px;
		height: 600px;
		margin-right: 215px;
	}

	.letter-content h3 {
		margin-bottom: 10px;
		margin-top: -10px;
		text-align: center;
	}

	.letter-content p {
		font-size: 16px;
		text-align: center;
	}

	body {
		font-family: 'Karla', sans-serif;
	}

	section {	
		padding-top: 150px;
	
	}



</style>



<main>

	@section AboutUs {
		<h3 class="header">Our Story</h3>
		<div class="beverage-images">
			
			<img src="@Url.Content("~/Content/HomeImages/Sobee4.jpg")" alt="Drinks">
		</div>
		}


		<div class="container body-content">

			<section class="mission section-headers">
				<h3>OUR MISSION</h3>
				<p class="">We put the fun in functional! Inspired by the French ethos of pleasure and restraint, SoBee You is A range of non-alcoholic aperatifs made with all natural ingredients!</p>
			</section>

			<section class="features">
				<div class="feature">
					
					<img src="@Url.Content("~/Content/HomeImages/svgs/egg.svg")" alt="No artificial colors/flavors">
					<span>NO ARTIFICIAL COLORS/FLAVORS</span>
				</div>
				<div class="feature">
					
					<img src="@Url.Content("~/Content/HomeImages/svgs/liquor.svg")" alt="Pure extract">
					<span>PURE EXTRACT</span>
				</div>
				<div class="feature">
					
					<img src="@Url.Content("~/Content/HomeImages/svgs/star.svg")" alt="Ready to sip">
					<span>READY TO SIP</span>
				</div>
				<div class="feature">
					<img src="@Url.Content("~/Content/HomeImages/svgs/no_drinks.svg")" alt="Alcohol free">
					<span>ALCOHOL FREE</span>
				</div>
			</section>

            <section class="founders-letter section-headers">
                <div class="founders-image">

                    <img src="@Url.Content("~/Content/HomeImages/erin_paige.jpg")" alt="Founders">
                </div>


                <div class="letter-content">
                    <h3>Letter from the Founders</h3>
                    <p>Hello there!</p>
                    <p>Welcome to SoBee You, we're thrilled to introduce ourselves as the brains behind this exciting new beverage line Paige and Erin, two passionate individuals with diverse backgrounds and a shared vision, we set out to redefine the concept of happy hour with our uncompined expertise and enthusiasm, we embarked on a mission to create something truly remarkable - a beverage that captures the essence of joy without the need for alcohol.</p>
                    <p>Whether you're unwinding after a long day or celebrating a special occasion, our beverages are here to accompany you on your journey. So join us, as we raise a glass to joy, connection, and the endless possibilities that lie ahead. Here's to embracing life's moments with gusto and saying "Cheers!" to all that SoBee You has to offer.</p>
                    <p>Cheers, Paige & Erin</p>
                </div>

            </section>

		</div>
</main>