<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - SobeeYou</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/SobeeYou.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/SobeeYou.styles.css" asp-append-version="true" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


	<link rel="stylesheet" href="~/css/LayoutStyles.css" asp-append-version="true" /> <!-- Include the stylesheet for this page-->

	<script src="~/js/dynamicCart.js"></script> <!-- Include the JavaScript file -->



</head>
<body>
	<div class="wrapper">
		<header>
			<nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark navbar-custom">
				<div class="container">

					<!-- bootstrap positioning styles in class-->
					<span class="navbar-text position-absolute top-0 end-0 cartIconContainer" id="cartIcon">
						<!-- Shopping cart icon or text -->
						<a href="#" class="nav-link text-light">
							<i>@Html.ActionLink("Cart", "Index", "ShoppingCart", new { area = "" }, new { @class = "nav-link" })</i>
							<!-- If you have dynamic content to display the number of items in the cart, you can include it here -->
							<span id="cartItemCount">0</span>
						</a>
					</span>

					@Html.ActionLink("Sobee You", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
					<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
						<ul class="navbar-nav flex-grow-1">
							<li>@Html.ActionLink("Story", "Index", "About", new { area = "" }, new { @class = "nav-link" })</li>
							<li>@Html.ActionLink("Shop", "Index", "Purchase", new { area = "" }, new { @class = "nav-link" })</li>

							<!-- Identity UI Page Links for Login/Register/Admin Dashboard -->
							<partial name="_LoginPartial" class="auth_links" />
						</ul>
					</div>
				</div>
			</nav>
		</header>

		<!-- render sections for max width hero/background pictures-->
		@RenderSection("HeroSection", required: false)
		@RenderSection("AboutUs", required: false)
		@RenderSection("Purchase", required: false)

		<div class="container body-content">
			<main role="main" class="pb-3">
				@RenderBody()
			</main>


		</div>


		<!-- Footer -->
		<footer class="footer" id="footer-container">
			<div class="footer-content" >
				<div class="footer-column">
					<h4>GET HELP</h4>
					<ul>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Shipping &amp; Returns</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Refund Policy</a></li>
						<li><a href="#">Terms Of Service</a></li>
					</ul>
				</div>
				<div class="footer-bottom">
					<div class="footer-text">
						<p>&copy;2024 Sobee You, Inc.</p>
					</div>
					<div class="footer-links">
						<a href="#">Privacy Policy</a>
						<a href="#">Terms Of Use</a>
					</div>
				</div>
		</footer>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
