<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/index">
                    <i class="nav-icon icon-speedometer"></i> Dashboard
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
            <li class="nav-title">Theme</li>
 
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Sales", "AdminDashboard")" ">
                    <i class="nav-icon icon-pie-chart"></i> Sales
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Customers", "AdminDashboard")" ">
                    <i class="nav-icon icon-pie-chart"></i> Customers
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("InventoryManager", "AdminDashboard")" ">
                    <i class="nav-icon icon-pie-chart"></i> Inventory Manager
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Orders", "AdminDashboard")" ">
                    <i class="nav-icon icon-pie-chart"></i> Orders
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ProductCatalog", "AdminDashboard")" ">
                    <i class="nav-icon icon-pie-chart"></i> Product Catalog
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ProductReviews", "AdminDashboard")" ">
                    <i class="nav-icon icon-pie-chart"></i> Product Reviews
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Promotions", "AdminDashboard")" ">
                    <i class="nav-icon icon-pie-chart"></i> Promotions
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("UserManager", "AdminDashboard")" ">
                    <i class="nav-icon icon-pie-chart"></i> User Manager
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Settings", "AdminDashboard")" ">
                    <i class="nav-icon icon-pie-chart"></i> Settings
                </a>
            </li>




               
            </li>
            <li class="divider"></li>
            <li class="nav-title">Extras</li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-star"></i> Pages
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/login" target="_top">
                            <i class="nav-icon icon-star"></i> Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register" target="_top">
                            <i class="nav-icon icon-star"></i> Register
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/404" target="_top">
                            <i class="nav-icon icon-star"></i> Error 404
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/500" target="_top">
                            <i class="nav-icon icon-star"></i> Error 500
                        </a>
                    </li>
                </ul>
            </li>
            @*<li class="nav-item mt-auto">
                <a class="nav-link nav-link-success" href="https://coreui.io" target="_top">
                    <i class="nav-icon icon-cloud-download"></i> Download CoreUI
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-danger" href="https://coreui.io/pro/" target="_top">
                    <i class="nav-icon icon-layers"></i> Try CoreUI
                    <strong>PRO</strong>
                </a>
            </li>*@
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>