@model IEnumerable<sobee_core.Models.AnalyticsModels.UserViewModel>

@{
    int rowNumber = 0;
}

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Is Admin</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model) {
            rowNumber++;
            <tr data-user-id="@user.Id"
                data-email="@user.Email"
                data-phone-number="@user.PhoneNumber"
                data-first-name="@user.FirstName"
                data-last-name="@user.LastName"
                data-billing-address="@user.BillingAddress"
                data-shipping-address="@user.ShippingAddress">
                <td>@rowNumber</td>
                <td>@user.Email</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@(user.IsAdmin ? "Yes" : "No")</td>
                <td>
                    <button type="button" class="btn btn-primary edit-button" data-user-id="@user.Id">Edit</button>
                    <button type="button" class="btn btn-danger delete-button" data-user-id="@user.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>