@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">

	<link rel="stylesheet" href="~/css/AboutStyles.css" asp-append-version="true" /> <!-- Include the stylesheet for this page-->
</head>


<main>

	@section AboutUs {
		<h3 class="header">About Us</h3>
		<div class="beverage-images">

			<img src="@Url.Content("~/Images/About/drinks.jpg")" alt="Drinks">
		</div>
	}


	<div class="container body-content">

		<section class="mission section-headers">
			<h3>OUR MISSION</h3>
			<p class="">We Put The Fun In Functional, Inspired By The French Ethos Of Pleasure And Restraint, SoBee Is A Range Of Non-Alcoholic Aperatifs Made With Natural Adaptogens.</p>
		</section>

		<section class="features">
			<div class="feature">

				<img src="@Url.Content("~/Images/About/svgs/egg.svg")" alt="No artificial colors/flavors">
				<span>NO ARTIFICIAL COLORS/FLAVORS</span>
			</div>
			<div class="feature">

				<img src="@Url.Content("~/Images/About/svgs/liquor.svg")" alt="Pure extract">
				<span>PURE EXTRACT</span>
			</div>
			<div class="feature">

				<img src="@Url.Content("~/Images/About/svgs/star.svg")" alt="Ready to sip">
				<span>READY TO SIP</span>
			</div>
			<div class="feature">
				<img src="@Url.Content("~/Images/About/svgs/no_drinks.svg")" alt="Alcohol free">
				<span>ALCOHOL FREE</span>
			</div>
		</section>

		<section class="founders-letter section-headers">
			<div class="founders-image">

				<img src="@Url.Content("~/Images/About/erin_paige.jpg")" alt="Founders">
			</div>


			<div class="letter-content">
				<h3>Letter From The Founders</h3>
				<p>Hello There!</p>
				<p>Welcome To SoBee You, We're Thrilled To Introduce Ourselves As The Brains Behind This Exciting New Beverage Line Paige And Erin, Two Passionate Individuals With Diverse Backgrounds And A Shared Vision, We Set Out To Redefine The Concept Of Happy Hour With Our Uncompined Expertise And Enthusiasm, We Embarked On A Mission To Create Something Truly Remarkable - A Beverage That Captures The Essence Of Joy Without The Need For Alcohol.</p>
				<p>Whether You're Unwinding After A Long Day Or Celebrating A Special Occasion, Our Beverages Are Here To Accompany You On Your Journey.						So Join Us, As We Raise A Glass To Joy, Connection, And The Endless Possibilities That Lie Ahead. Here's To Embracing Life's Moments With Gusto And Saying "Cheers!" To All That SoBee You Has To Offer.</p>
				<p>Cheers, Paige & Erin</p>
			</div>
		</section>

	</div>
</main>