@{
    ViewData["Title"] = "Home Page";
}

<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="~/css/HomeStyles.css" asp-append-version="true" /> <!-- Include the stylesheet for this page-->

</head>
<div class="container body-content">


	<!-- HERO SECTION  disabled in layout file-->
	@section HeroSection {
		<div class="hero-section">
			<div class="hero-images">

				<img src="@Url.Content("~/Images/Home/hero/hero-pic1.jpg")" alt="Hero 1">
				<div class="overlay"></div>
				<div class="hero-text">
					<h1>A Toast to Mindful Moments</h1>
					<p>Discover the perfect blend of natural ingredients and effervescent flavors, crafted to help you unwind and feel your best.</p>
					<button>Shop Now</button>
				</div>
			</div>
		</div>
	}

	<!-- picture with Shop Now button -->
	<section>
		<div class="sobee-hour">
			<div class="product-images">

				<img src="@Url.Content("~/Images/Home/drinkshopnow.jpg")" alt="Product 1">
			</div>

			<div class="drink-section-text">
				<p>DISCOVER THE STARTER PACK</p>
				<h3>Best Sellers Bundle</h3>
				<p>Experience all four of our functional, feel-good flavors in one 16-pack of convenient, ready-to-sip cans.</p>
				<a href="#" class="shop-now-btn">Shop Now</a>
			</div>
		</div>
	</section>


	<!-- Product information -->
	<section>
		<div class="product-section">
			<div class="product-item">
				<img src="@Url.Content("~/Images/Home/drinksection1.jpg")" alt="Mockin">
				<h3>BOLD, BALANCED & BUBBLY.</h3>
				<p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et Dolore Magna Aliqua. Dolor Morbi Non Arcu Risus. Pellentesque Nec Nam Aliquam Sem Et.</p>
			</div>
			<div class="product-item">
				<img src="@Url.Content("~/Images/Home/drinksection2.jpg")" alt="Mellow Mule">
				<h3>ALCHOHOL FREE.</h3>
				<p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et Dolore Magna Aliqua. Dolor Morbi Non Arcu Risus. Pellentesque Nec Nam Aliquam Sem Et.</p>
			</div>
			<div class="product-item">
				<img src="@Url.Content("~/Images/Home/drinksection3.jpg")" alt="DM Tonic">
				<h3>ALL NATURAL INGREDIENTS.</h3>
				<p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et Dolore Magna Aliqua. Dolor Morbi Non Arcu Risus. Pellentesque Nec Nam Aliquam Sem Et.</p>
			</div>
		</div>

	</section>


	<!-- Instagram section -->
	<section>
		<div class="instagram-link">
			<h3>Follos Us On Instagram!</h3>
			<p>@@sobee_you</p>
		</div>
	</section>


	<!-- Instagram Widget-->
	<behold-widget feed-id="Ga7qg5qP5TCfDnIBChcu"></behold-widget>
	<script>
		if ('noModule' in HTMLScriptElement.prototype) {
			const d = document, s = d.createElement('script'); s.type = 'module';
			s.src = 'https://w.behold.so/widget.js'; d.body.appendChild(s);
		}
	</script>
	<p></p>
</div>




